@charset "UTF-8";
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ECF0F1;
  color: #34495E;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #2C3E50;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  flex-grow: 1;
}

footer {
  background-color: #2C3E50;
  color: #FFFFFF;
  padding: 1rem;
  text-align: center;
}

.menu-logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.menu-toggle {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #FFFFFF;
}

.menu-toggle:hover {
  color: #E74C3C;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #FFFFFF;
}

.nav-links a {
  margin-left: 1rem;
  text-decoration: none;
  color: #FFFFFF;
}

.nav-links a:hover {
  color: #E74C3C;
}

.search-bar {
  flex-grow: 1;
  margin: 0 1rem;
}

.search-bar input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #7F8C8D;
  border-radius: 4px;
  background-color: #ECF0F1;
}

.categories-container {
  background-color: #FFFFFF;
  margin-top: 1rem;
  padding: 1rem 0;
}

.categories {
  display: flex;
  overflow-x: auto;
  padding: 0 1rem;
}

.category {
  min-width: 100px;
  margin-right: 1rem;
  text-align: center;
}

.category img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #E74C3C;
}

.restaurants {
  background-color: #ECF0F1;
  margin-top: 1rem;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.restaurant {
  background-color: #FFFFFF;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.restaurant:hover {
  transform: scale(1.01);
  box-shadow: 0 0 5px #E74C3C;
}

.restaurant img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 1rem;
  border-radius: 4px;
  border: 2px solid #E74C3C;
}

.restaurant-info h3 {
  margin: 0;
  color: #E74C3C;
}

.restaurant-info p {
  margin: 0.5rem 0;
  color: #7F8C8D;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 0.5rem;
}

.social-links a {
  color: #FFFFFF;
  text-decoration: none;
}

.social-links a:hover {
  color: #E74C3C;
}

.menu {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #FFFFFF;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: left 0.3s ease;
  z-index: 1000;
}

.menu.active {
  left: 0;
}

.menu-content {
  padding: 2rem;
}

.menu-content a {
  display: block;
  margin-bottom: 1rem;
  color: #34495E;
  text-decoration: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999;
}

.overlay.active {
  display: block;
}

.modal {
  display: none; /* Oculto por defecto */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

/* Estilo del contenido del modal */
.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  max-width: 90%;
  position: relative;
  text-align: center;
}

/* Botón para cerrar el modal */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

form label {
  display: block;
  margin: 10px 0 5px;
}

form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

form button {
  padding: 10px 15px;
  background-color: #2C3E50;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

form button:hover {
  background-color: #E74C3C;
}

/*# sourceMappingURL=style.css.map */
