* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000000;
}

header {
  padding: 12px;
  background-color: #131313;
}

h1, h2 {
  color: #FFFFFF;
  text-align: center;
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
}

h2 {
  margin-left: 10px;
  font-size: 15px;
}

#button-icon-menu {
  margin-left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

#button-icon-menu:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

#header-title {
  margin-top: 4px;
  margin-left: 10px;
}

#location-heading {
  margin-top: 10px;
}

#background-legend {
  margin-bottom: 40px;
  font-size: 48px;
}

button {
  border-radius: 6px;
  margin-left: 20px;
}

input {
  border-radius: 8px;
  border: none;
}

.button-primary {
  background-color: transparent;
  border-color: orangered;
  color: orangered;
  width: 200px;
  height: 60px;
  margin-left: 0px;
  position: relative;
  bottom: 19px;
}

.button-secondary {
  background-color: #313131;
  border: none;
  color: white;
  width: 150px;
  height: 40px;
}

.input-search {
  margin-left: 10px;
  padding: 12px;
  width: 400px;
  height: 40px;
  background-color: #313131;
  color: gray;
}

.header-options {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}

.header-options-sub {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

#image-background {
  display: flex;
  background: url("../assets/imgs/pizza-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-items: center;
  height: 100vh;
}

.background-options {
  margin: 30px;
  padding: 12px;
  background-color: rgba(19, 19, 19, 0.8);
}

.input-search:focus {
  background-color: white;
  color: #000000;
  outline: none;
}

.button-primary:hover {
  cursor: pointer;
  background-color: orangered;
  color: white;
}

.button-primary:active,
.button-secondary:active {
  transform: translateY(1px);
}

.button-secondary:hover {
  cursor: pointer;
  background-color: white;
  color: #000000;
}

.svg-container {
  height: 1;
}

.test {
  background-color: white;
  height: 50vh;
}

.test-1 {
  background-color: white;
  height: 100vh;
}

.footer {
  background-color: #000000;
  height: 100vh;
}

.information {
  height: 50vh;
}

.contact {
  height: 50vh;
}

#uveats-title {
  margin-top: 3%;
  margin-left: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 35px;
}

.help-center {
  width: 100%;
  height: 30px;
  display: flex;
  padding-left: 10%;
  justify-content: start;
  margin-top: 1%;
}

.help-center-option {
  margin-top: 2%;
  color: #FFFFFF;
}

#contact-title {
  margin-top: 3%;
  margin-left: 0;
  font-size: 35px;
}

.social-information {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 4%;
  padding-left: 10%;
  padding-right: 10%;
}

.social-media {
  display: flex;
  flex-wrap: nowrap;
  width: 50%;
  gap: 58px;
}

.users-personal-information {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: flex-end;
}

.social-media-buttons {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}

.social-media-buttons:hover {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}

#personal-information-privacy {
  color: #FFFFFF;
}

.downloads {
  display: flex;
  flex-wrap: nowrap;
  gap: 75px;
  margin-top: 1%;
  margin-left: 10%;
}

.downloads-app {
  width: 128px;
  height: 128px;
}

.copyright-rules {
  display: flex;
  flex-wrap: nowrap;
  padding-left: 10%;
  padding-right: 10%;
}

.copyright {
  width: 50%;
  color: gray;
  font-size: 13px;
  margin-top: 1%;
}

.rules {
  width: 50%;
  display: flex;
  flex-wrap: nowrap;
  gap: 64px;
  justify-content: end;
  margin-top: 1%;
}

.rules-options {
  color: gray;
  font-size: 13px;
}

/*# sourceMappingURL=style.css.map */
