$font: 'Open Sans', sans-serif;

$color-background: #131313;
$color-header: #131313;
$color-text: #FFFFFF;

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $font;
    margin: 0;
    padding: 0;
    background-color: $color-background;
}

header {
    padding: 12px;
    background-color: $color-header;
}

h1, h2 {
    color: $color-text;
    text-align: center;
}

h1 {
    font-size: 30px;
}

h2 {
    margin-left: 10px;
    font-size: 15px;
}

button {
    border-radius: 6px;
    margin-left: 20px;
}
  
input {
    border-radius: 8px;
    border: none;
}

.button-primary {
    background-color: transparent;
    border-color: orangered;
    color: orangered;
    width: 200px;
    height: 60px;
}
  
.button-secondary {
    background-color: #313131;
    border: none;
    color: white;
    width: 150px;
    height: 40px;
}
  
.input-search {
    margin-left: 10px;
    padding: 12px;
    width: 400px;
    height: 40px;
    background-color: #313131;
    color: gray;
}

.header-options {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}

.header-options-sub {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

#image-background {
    display: flex;
    background: url('../assets/imgs/pizza-background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    height: 100vh;
}

.background-options {
    margin: 30px;
}

.input-search:focus {
    background-color: white;
    color: black;
    outline: none;
}
  
.button-primary:hover {
    cursor: pointer;
    background-color: orangered;
    color: white;
}
  
.button-primary:active, 
.button-secondary:active {
    transform: translateY(2px);
}
  
.button-secondary:hover {
    cursor: pointer;
    background-color: white;
    color: #131313;
}